/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 body
 {

 }
 
 .link_white a:visited
 {
   color: white;
 }
 .link_white a:link
 {
  color: white;
 }

 .link_white a:active
 {
  color: white;
 }

 .link_white a:hover
 {
  color: white;
 }
 
 .link_white a
 {
   color: white;
 }
 
a, a:hover, a:visited, a:active, a:link
{
    color: black;
    text-decoration-line: none;
}

 .card-columns
 {
     display: inline-block;
 }
 
 .bg_navbar_black
 {
     background-color: black;
     border-bottom: 3px inset #8A82E6;
 
 }
 
 .bg_navbar_violet
 {
     background-color: #8A82E6;
     border-bottom: 3px inset black;
 
 }

  html
 {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 .banner
 {
     background-image: linear-gradient(rgba(0,0,0,0.5)), url('/banner.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 50vh;
     z-index: -100;
     border-radius: 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .banner-title
 {
    font-size: 75px;
    margin: 20px;
    color: white;
 }

 .banner-text
{
    color: white;
    width: 50%;
    font-size: 1.25rem;
}
 
 .jumbotron_perso2
 {
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0, 0.9)),url('/background_jumbotron.jpg');
     filter: blur(10px) grayscale(100%);
     background-repeat: no-repeat;
     background-position: center;
     z-index: -100;

 }

 #welcome_title
 {
     font-size: 200px;
     color: black;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80%;
     padding: 20px;
     text-align: center;
 }

 .section_gossips
 {
     padding: 20px;
     margin: 0px;
     display: flex;
     justify-content: center;
     background-color: white;
 }
 
 .team_and_page
 {
     padding: 20px;
     margin: 0px;
     display: flex;
     justify-content: center;
     background-color: white;
 }
 
.text-violet
{
    color: #8A82E6;
}

 .my_border
 {
     border-bottom: 5px inset #8A82E6;
     border-radius : 30px;
}

.card-img-top
{
    height: 20vh !important;
    border-radius: 30px 30px 0% 0%;
}

.card-title 
{
    font-size : 150%;
}

 .border_dropdown
 {
    border-bottom: 5px inset #8A82E6;
    border-radius : 20px;
 }
 
 .my_green
 {
     color: #64A19D;
 }
 
 .gossip_page
 {
     width: max-content;
     padding: 20px;
     background-color: white;
 }
 
 #test
 {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     max-height: 500px;
     background-color: black;
 }
 
 li
 {
     margin-left: 5px;
     margin-right: 5px;
 }
 
 .center_li  
 {
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 5;
 }
 
 .cercle 
 {
     min-width: 20px;
     min-height: 20px;
     text-align: center;
     border-radius: 100%;
     background: black;
 }
 
 #card_gossip
 {
     display: flex;
     align-items: center;
     background-color: white;
 }
 
 #event
 {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-left : 10px;
     margin-right : 10px;
 }
 
 .formulaire_nouveau_gossip
 {
     display: flex;
 
     height: min-content;
     width: min-content;
     background-color: white;
 
 }
 
 .link_thumb
 {
     z-index: 1000;
 }
 
.zoom {
    transition: transform .2s;
    
}
   
.zoom:hover {
    -ms-transform: scale(1.3); /* \IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    z-index: 10000000;
}
 
.stripe-button-el {
background: #8A82E6 !important;
}

.stripe-button-el span {
background: #8A82E6 !important;
}

.btn-violet
{
    background-color: #8A82E6;
    margin : 10px;
    color: white;
    height: min-content;
}


.border_violet
{
    border: solid;
    border-width: 0.05em;
    border-color: #8A82E6;
}

.border-violet-bottom
{
    border-bottom: solid;
    border-width: 0.05em;
    border-color: #8A82E6;
}

.bg_violet
{
    background-color: rgb(158, 152, 219);
    padding-bottom: 2px;
}

.button_transparent
{
    border: none;
    background-color:transparent;
    border-radius: 40%;
}

.button_transparent:hover
{
    box-shadow: 0 0 11px #8A82E6; 
}

.nav-tabs .nav-item .nav-link.active {
    color: white;
    background-color: #8A82E6;
  }

.nav-tabs
{
    border: none;
}


.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

#main
{
    margin:0 auto;
    position:relative;
    margin-left : 50px;
    margin-right : 50px;
}

footer
{
    background-color: black;
    border-top: 3px solid #8A82E6;
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
}

footer .content-footer
{
    min-width: 50%;
    max-width: 100%;
}

footer .content-footer a
{
    color: white;
}


// input[type=text]:focus
// {
//     // outline: 1px solid #8A82E6;
//     outline: none;
//     background-color: #8A82E6;
// }
// // TODO: Utiliser un textarea pour la description, eventuellement avec une animation de ce style : https://www.w3schools.com/css/tryit.asp?filename=trycss_form_search_anim

input 
{
    border: 2px solid #DCDCDC;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    transition: 0.3s;
}

input[type=submit]
{
    background-color: #8A82E6;
    color: white;
    width: min-content;
    overflow: none;
    border: none;
}

ul input[type=submit]

{
    margin-top: 15px;
}


input:focus
{
    outline: none;
    border: 2px outset #8A82E6;
    box-shadow: 0px 0px 2px #8A82E6;
}


.media-body:hover
{
    background-color: #8A82E6;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.card-deck .card:hover
{
    box-shadow: 0px 0px 10px black;
}

textarea
{
    padding: 10px;
    line-height: 1.5;
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition-duration: 0.5s;
}

#commentaire:hover
{
    background-color: lightgray !important;
}

textarea:focus
{
    box-shadow:  0px 0px 10px #8A82E6;
    outline: none;
}


.presentation
{
    width: 90vh;
    display: flex;
    flex-direction: row;
}

.en-tete-image
{
    width: 60%;
    position: relative;
}

.en-tete-text
{
    position: absolute;
    z-index: 999;
    left: 80%;
    width: 40%;
    padding: 5px;
}

.en-tete-title
{
    font-size: 150%;
}

.en-tete-presentation
{
    
}